@use '../../scss/' as *;

.btn {
    font-weight: 700;
    font-size: 1.5rem;
    color: $txt-color;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 1.5rem 5rem;
    padding: 1.5rem 4.5rem;
    font-family: $font-family;
    border-top-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    &-main {
        background-color: $main-color;
        transition: all 0.3s ease;

        &:hover {
            background-color: $second-color;
        }
    }

    &-second {
        background-color: $second-color;
        transition: all 0.3s ease;

        &:hover {
            background-color: $main-color;
        }
    }
}